---
import Layout from '@/layouts/Layout.astro';
import Form from '@/components/Form.astro';
---

<Layout>
	<Form />
	<div class="md:text-9xl text-[52px] leading-none font-bold italic">
		<h1><span class="text-purple" data-at="years">--</span> years</h1>
		<h1><span class="text-purple" data-at="months">--</span> months</h1>
		<h1><span class="text-purple" data-at="days">--</span> days</h1>
	</div>
</Layout>
